.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

header {
  text-align: center;
}

#sign_in, #create_account {
  border: 1px solid black;
  text-align: center;
  width: 35%;
  margin: 0 auto;
  padding: 5px;
}
