<div class="added_question">
	<form class="add_new_response" name="question" action="/complete_question" method="post">
		<input type="text" name='survey[]question[]' placeholder="Enter question here">
		<input id="append_response" type="submit" value="Add a Choice">
    <div class="response">
     <input class="response_form" name="survey[]response[]" type="text" placeholder="Enter response here">
   </div>
   <input id="finalized_question" type="submit" value="Complete Question">
 </form>
</div>
