<div class="added_question">
	<form class="submit_question">
		<input id="finalized_question" type="submit" value="Complete Question">
	</form>
	<form class="add_new_response" name="question">
		<input type="text" name="question_made" placeholder="Enter question here">
		<input id="append_response" type="submit" value="Add a Response">
	</form>
</div>