<!-- <form action="/survey/new" method="post">
	<input type="text" name="survey[title]">
</form> -->

<!-- <div class="top-nav">
  <h2> <a class="home" href="#>">Survenator</a></h2>
  <form action="/user/logout" method="get">
    <button class="logout" type="submit" formmethod="get"  formaction="/user/logout">Logout</button >
    </form>
</div> -->


<div class="survey_creation">
<form id='begin_survey' action='/survey/new' method='post'>
  <input type='text' id="form_name" name='title' placeholder='Title of Survey'>
  <input type="submit" value="Start Creating Survey" >
<form/>
</div>

<div class="big_divver">
</div>

<div class="final_form_submission">
	<form id="end" action="/finalize_survey" method="post">
		<input type="submit" value="Complete Form">
	</form>
</div>
