<!-- <form action="/survey/new" method="post">
	<input type="text" name="survey[title]">
</form> -->

<h2>This is a little tougher</h2>

<div class="survey_creation">
<form id='begin_survey' action='/survey/new' method='post'>
  <input type='text' name='title' placeholder='Title of Survey'>
  <input type="submit" value="Start Creating Survey" >
<form/>
</div>

<div class="big_divver">
</div>

<div class="final_form_submission">
	<form id="end" action="/finalize_survey" method="post">
		<input type="submit" value="Complete Form">
	</form>
</div>
