<div class="top-nav">
  <h2> <a class="home" href="/user/<%=session[:user_id]%>">Survenator</a></h2>
  <form action="/user/logout" method="get">
    <button class="logout" type="submit" formmethod="get"  formaction="/user/logout">Logout</button >
    </form>
</div>

<div class="container">
<div id="title"><%=@survey.title%></div>

<div id="questions">
<% @survey.questions.each do |question| %>
<h2><%= question.content %></h2>
<% question.choices.each do |choice| %>
  <%=choice.answer%><br>
<%end%>
<%end%>
</div>
</div>
