<div class="profile">
	<% @surveys.each do |survey| %>
		<% if survey.creator_id == @user.id %>
			<p><a href="/survey/<%=survey.id%>"><%= survey.title %></a></p>
		<% end %>
	<% end %>
</div>

<div class="surveys">
	<p><a href="/surveys">View All Surveys</a></p>
	<p><a href="/survey/new">Create a new Survey</a></p>
</div>
